body {
	background-image: url("3f382c6f.png");
	color:white;
	font-family: 'Inconsolata';
	font-size:18px;
}

button {
	min-width:89px;
}

p {
	font-size: 24px;
}

h1 {
	font-size: 64px;
	color: #ff0066;
	margin-left:1em;
}

h2{
	font-size: 24px;
	color: white;
	margin-left:3em;
	margin-bottom:0px;
	margin-top:0px;
}

#titlediv {
	width:30%;
}

#btncontainer{
	width:500px;
}

#pagination-links{
	text-align:center;
}

#mainui {
	display:inline-block;
	position:relative;
	float:left;
	left:50%;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width:500px;
	margin:0;
}

#mainimage {
	float:left;
	margin-top:1em;
	margin-bottom:1em;
	padding:0;
}

form {
	margin-top:1em;
}
