<p>
  <strong>Text:</strong>
  <%= @label.text %>
</p>

<p>
  <strong>Label set:</strong>
  <%= safe_label_set @label %>
</p>

<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
