<% if ! @image_sets.empty? %>
<h2>Listing Image Sets</h2>
<table class="table table-condensed .table-striped">
  <thead>
    <tr>
      <th>Set name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @image_sets.each do |image_set| %>
      <tr>
        <td><%= link_to 'Set #' + image_set.id.to_s, image_set %></td>
        <td>
          <%= link_to 'Edit', edit_image_set_path(image_set), class: "btn btn-primary btn-xs" %>
          <%= link_to 'Destroy', image_set, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
<h2>No image sets available</h2>
<% end %>

<%= link_to 'New Image set', new_image_set_path %>
