<h2>Listing Label Sets</h2>

<table class="table table-condensed .table-striped">
  <thead>
    <tr>
      <th>Label set</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @label_sets.each do |label_set| %>
      <tr>
        <td><%= link_to 'Set #' + label_set.id.to_s, label_set %></td>
        <td><%= link_to 'Edit', edit_label_set_path(label_set), class: "btn btn-primary btn-xs" %>
        <%= link_to 'Destroy', label_set, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Label set', new_label_set_path %>
