 <font color="#ff0066">$$$</font> Want to get paid to label images? <br>
 Get started now!
 <br><br>
 <a href="./users/sign_up"><button type="button" class="btn btn-default btn-primary btn-lg btn-success">Create Account</button></a>
