<div class="panel" style="text-align: center">
	 <a href="./users/sign_up"><button type="button" class="btn btn-default btn-primary btn-lg btn-success">Create Account</button></a>
	 <br><br>
	 <br><br>
	 <a href="./users/sign_in"><button type="button" class="btn btn-default btn-primary btn-lg btn-primary">Sign In</button></a>
	 <br><br>
	 <br><br>
	 <p><a href="/instructions">Instructions</a></p>
	 <p><a href="https://github.com/asfarley/imgclass">Github repo</a></p>
</div>
