<div class="panel" style="text-align: center">
	<p><font color="#ff0066">?¿?</font> Need to label images? <br>
	 Upload your images,
	 enter your labels, <br>
	 get results!
	 <br><br>
	 <a href="./users/sign_up"><button type="button" class="btn btn-default btn-primary btn-lg btn-success">Create Account</button></a>
	 <br><br>
	 <font color="#ff0066">$$$</font> Want to get paid to label images? <br>
	 Get started now!
	 <br><br>
	 <a href="./users/sign_up"><button type="button" class="btn btn-default btn-primary btn-lg btn-success">Create Account</button></a>
	 <br><br>
	 Existing user?
	 <br><br>
	 <a href="./users/sign_in"><button type="button" class="btn btn-default btn-primary btn-lg btn-primary">Sign In</button></a>
	 </p>
</div>	 
