<div class="panel" style="text-align: left">
	<p><font color="#ff0066">Instructions</font><br><br>
	 Welcome to imgclass.com. <br><br>

   Start by logging on to <a href="http://imgclass.com">imgclass.com</a> with your assigned username. Images for tagging will be displayed immediately. <br><br>

   Here's an example of the type of image you might be tagging:<br>
   <img src="https://s3-us-west-2.amazonaws.com/imgclass-images/LargeSet6200Images/0001.jpg" style="width:500px; margin: 3em;">

   <br><br>
   Look at the set of available choices. In this image, the objects that should be tagged are <b>cars, trucks, buses, people, bicycles and motorcycles</b>.

   <br><br>
   To tag a car, first click the "Car" radio-button. Then click the upper-left corner of the object, and drag a rectangle to the lower-right corner of the object. Release the mouse button and a rectange should appear.
   <br><br>
   Once the image has been tagged, the results should look something like this:
   <br><br>
   <img src="/tagged_screenshot.png" >
   <br><br>
	 Here's a close-up example of a good Car tag:
   <br><br>
   <img src="/GoodBoundingBox.png" >
   <br><br>
	 The tags should <b style="color:#ff0066;">not</b> contain extra space:
   <br><br>
   <img src="/BadBoundingBoxTooLoose.png" >
   <br><br>
	 The tags should <b style="color:#ff0066;">not</b> be smaller than the object:
   <br><br>
   <img src="/BadBoundingBoxTooSmall.png" >
   <br><br>
	 If the image contains many vehicles in the background, just try to tag the majority of nearby vehicles like this:
	 <br><br>
	 <img src="/correct_tagging_example_many_overlapping.png" >
	 <br><br>
   If you make a mistake and want to delete a tag, you can use the Delete button:
   <br><br>
   <img src="/tagged_delete.png" >
   <br><br>
	 Here are some examples of incorrect tagging.
	 <br><br>
	 <figure>
	 	<img src="/incorrect_tagging_example_multiple_boxes.png" >
		<figcaption><b style="color:#ff0066;">Incorrect:</b> Multiple tags per object</figcaption>
 	 </figure>
	 <br><br>
	 <figure>
	 <img src="/incorrect_tagging_example_boxes_not_covering_objects.png" >
	 <figcaption><b style="color:#ff0066;">Incorrect:</b> Tags not covering objects</figcaption>
	</figure>
	 <br><br>
	 <figure>
	 <img src="/incorrect_tagging_example_single_click_only.png" >
	 <figcaption><b style="color:#ff0066;">Incorrect:</b> Tags are single clicks, not rectangles</figcaption>
	</figure>
	 <br><br>
	 <figure>
	 	<img src="/incorrect_tagging_example_bicycles.png" >
		<figcaption><b style="color:#ff0066;">Incorrect:</b> Bicycles should be tagged seperately. Bicycle tags should include rider.</figcaption>
 	 </figure>
	 <br><br>
	 <figure>
	 	<img src="/incorrect_tagging_example_bicycles_motorcycles.png" >
		<figcaption><b style="color:#ff0066;">Incorrect:</b> Bicycles and motorcycles should be tagged individually.</figcaption>
 	 </figure>
	 <br><br>
   Thanks, happy tagging!
  </p>
</div>
