<div class="panel" style="text-align: left">
	<p><font color="#ff0066">Instructions</font><br><br>
	 Welcome to imgclass.com. <br><br>

   Start by logging on to <a href="http://imgclass.com">imgclass.com</a> with your assigned username. Images for tagging will be displayed immediately. <br><br>

   Here's an example of the type of image you might be tagging:<br>
   <img src="https://s3-us-west-2.amazonaws.com/imgclass-images/LargeSet6200Images/0001.jpg" style="width:500px; margin: 3em;">

   <br><br>
   Look at the set of available choices. In this image, the objects that should be tagged are <b>cars, trucks, buses, people, bicycles and motorcycles</b>.

   <br><br>
   To tag a car, first click the "Car" radio-button. Then click the upper-left corner of the object, and drag a rectangle to the lower-right corner of the object. Release the mouse button and a rectange should appear.
   <br><br>
   Once the image has been tagged, the results should look something like this:
   <br><br>
   <img src="/tagged_screenshot.png" >
   <br><br>
   If you make a mistake and want to delete a rectangle, you can use the Delete button:
   <br><br>
   <img src="/tagged_delete.png" >
   <br><br>
   Thanks, happy tagging!
  </p>
</div>
