// Place all the styles related to the ImageLabels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

svg {
  z-index: 10;
  position:absolute;
  width:100%;
  height:100%;
}

img {
  z-index:8;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#imgtight {
  margin: 0 auto;
  width: auto;
  position: relative;
  padding:0;
  top: 50%;
  transform: translateY(-50%);
}
