body {
	/*background-image: url("3f382c6f.png");*/
	background-color:white;
	color:grey;
	font-family: 'Inconsolata';
	font-size:18px;
}

.jobform {
	display:inilne-block;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

button {
	min-width:89px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

p {
	font-size: 24px;
}

h1 {
	font-size: 64px;
	color: #ff0066;
	margin-left:1em;
}

h2{
	font-size: 24px;
	color: grey;
	margin-left:3em;
	margin-bottom:0px;
	margin-top:0px;
}

.bottom-buffer{
	margin-bottom:20px;
}

.top-buffer{
	margin-top:60px;
}

#titlediv {
	width:30%;
}

#btncontainer{
	width:500px;
}

.container{
	display:inline-block;
	position:relative;
	float:left;
	left:50%;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	margin:0;
}

#pagination-links{
	text-align:center;
}

#mainui {
	display:inline-block;
	position:relative;
	float:left;
	left:50%;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width:500px;
	margin:0;
}

#imgframe {
	width:500px;
	height:500px;
}

#mainimage {
	margin: 0 auto;
	min-width:300px;
	max-width: 500px;
	max-height: 500px;
	width: auto;
	height: auto;
	/*position: relative;
 	top: 50%;
 	transform: translateY(-50%);*/
	padding:0;
}

form {
	margin-top:1em;
}

.numdisplay {
	margin:5em;
	font-size:24px;
}
