<% if (not current_user.roles.nil?) %>
  <% if current_user.roles.include? "admin" %>
    <ul >
      <li><%= link_to "ImageLabelSets", image_label_sets_url %></li>
      <li><%= link_to "Users", users_url %></li>
    </ul>
  <% end %>
<% end %>

<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>